@model IEnumerable<LearnSite.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}<br />

<div class="col-lg-12">
    <section class="box ">
        @*<header class="panel_header">
                <h2 class="title pull-left">Trending Albums</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>*@
        <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model)
                    {
                        <div class="card" style="width: 25rem;">
                            <div class="img-responsive">
                                <img class="card-img-top img-responsive" src="https://cdn.journaldev.com/wp-content/uploads/2017/04/python-tutorial.png" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h1 class="card-title "><small>@item.CourseName</small></h1>
                                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                                @using (Html.BeginForm("Details", "Course", FormMethod.Get))
                                {
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="submit" class="btn btn-block" value="Click Here" />
                                }


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>