@model LearnSite.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="jumbotron">
        @*<=========================INSERT IMAGE HERE=====================================>*@
        <h1 class="text-center">@Model.CourseName</h1>
        <p class="text-center">@Model.CourseBriefDescription</p>
    </div>
</div>



