@model IEnumerable<LearnSite.Models.Course>
@using Microsoft.AspNetCore.Identity
@using LearnSite.Models
@using LearnSite.Ulitity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@foreach (var item in Model)
{
    <div class="card" style="width: 25rem;">
        <div class="img-responsive">
            <img class="card-img-top img-responsive" src="https://cdn.journaldev.com/wp-content/uploads/2017/04/python-tutorial.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h1 class="card-title "><small>@item.CourseName</small></h1>
            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            @using (Html.BeginForm("Details", "Course", FormMethod.Get))
            {
                <input type="hidden" name="id" value="@item.Id" />
                <input type="submit" class="btn btn-block" value="Click Here" />
            }


        </div>
    </div>
}