body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

#Thejumbotron {
    background-color: #eee;
    color: inherit;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.accordion {
    background-color: #eee;
    border: none;
    color: #444;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 18px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

.active, .accordion:hover { background-color: #ccc; }

.card !

important {
    background-color: white;
    display: none;
    overflow: hidden;
    padding: 0 18px;
}

.card-body !

important {
    background-color: white;
    display: none;
    overflow: hidden;
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
}

.resp-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.card > a { color: black; }

/*.card {
    border: solid #808080;
}*/

.sticky {
    margin: 15px;
    position: sticky !important;
    top: 50px !important;
}

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}